<h1>Registrar Usuarios</h1>

<form action="/session/register" method="post">
First Name: <input type="text" name="first_name" >
Last Name: <input type="text" name="last_name" >
Email: <input type="text" name="email" >
Age: <input type="text" name="age" >
Password: <input type="text" name="password" >
<input type="submit" value="Crear"> <a href="/">Login</a>
</form>


<style>
 h1{
  text-align: center;
 }
form {
 
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #007BFF;
}


a:hover {
  text-decoration: underline;
}

</style>